<!--
    This file is part of visier-embedding-exemplar.

    visier-embedding-exemplar is free software: you can redistribute it and/or modify
    it under the terms of the Apache License, Version 2.0 (the "License").

    visier-embedding-exemplar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    Apache License, Version 2.0 for more details.

    You should have received a copy of the Apache License, Version 2.0
    along with visier-embedding-exemplar. If not, see <https://www.apache.org/licenses/LICENSE-2.0>. 
-->

<!-- This template handles internal server errors and 404 errors. -->
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
