<!--
    This file is part of visier-embedding-exemplar.

    visier-embedding-exemplar is free software: you can redistribute it and/or modify
    it under the terms of the Apache License, Version 2.0 (the "License").

    visier-embedding-exemplar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    Apache License, Version 2.0 for more details.

    You should have received a copy of the Apache License, Version 2.0
    along with visier-embedding-exemplar. If not, see <https://www.apache.org/licenses/LICENSE-2.0>. 
-->

<!--
    This file is the template for a preloaded form that submits as soon as it is rendered.
    Preloaded forms like this one are essentially a redirect URL that sends a POST request.
-->
<form  method="post" name="hiddenform" action={{acsUrl}}>
    {{#each properties}}
        <input type="hidden" name={{this.key}} value={{this.value}}>
    {{/each}}
    <noscript>
        <p>JavaScript is disabled. Click Submit to continue.</p>
        <input type="submit" value="Submit">
    </noscript>
</form>
<script type="text/javascript">
    setTimeout(() => {
        document.forms[0].submit();
    }, 0);
</script>
